<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.js"></script>
    <script src="taskmodule.js"></script>
</head>
<body ng-app="myapp" ng-controller="myctrl">
    <center>
        <h1 style="background-color: black;color: aliceblue;">Update Task</h1>
        <table border="3">
            <tr>
                <td>Name : </td>
                <td><input type="text" ng-model="name"></td>
            </tr>
            <tr>
                <td><button type="submit" ng-click="updateTask()">update Task</button></td>
            </tr>
        </table>
    </center>
</body>
</html>